<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./assets/img/profile.png" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Homebanking | Your Account</title>
</head>

<body>
  <div id="app" class="h-[100vh] flex flex-col">
    <header class="h-36 bg-darkblue lg:flex lg:justify-center lg:items-center lg:flex-col">
      <div class="h-full w-full p-2 flex justify-evenly items-center gap-2">
        <picture class="w-16 h-full object-cover flex items-center justify-center">
          <a @click="abrirAlert()" href="#"><img class="w-full object-cover rounded-full" src="./assets/img/melba.jpg" alt="profile,foto"></a>
        </picture>
        <h1 class="w-full text-white font-bold" >Hola, {{client.lastName}} {{client.firstName}}</h1>
        <picture class="w-10 h-full object-cover flex items-center justify-center">
          <a @click="abrirAlert()" href="#"><img class="w-full object-cover rounded-full bg-black" src="./assets/img/check-out.png" alt="check_out"></a>
        </picture>
      </div>
      <nav v-if="isWideScreen" class="flex justify-center items-center w-full h-full bg-white">
        <ul class="flex justify-around items-center w-full py-1">
          <li class="w-1/5"><a class="w-full flex flex-col justify-center items-center font-bold text-darkblue" href="#"><img class="w-10" src="./assets/img/user_active.png" alt="active_account">CUENTAS</a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex flex-col justify-center items-center" href="#"><img class="w-10" src="./assets/img/cards.png" alt="cards">TARJETAS</a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex flex-col justify-center items-center" href="#"><img class="w-16 rounded-full" src="./assets/img/profile.png" alt="bank_logo"></a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex flex-col justify-center items-center" href="#"><img class="w-10" src="./assets/img/loan.png" alt="loan">PRESTAMOS</a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex flex-col justify-center items-center" href="#"><img class="w-10" src="./assets/img/transfer.png" alt="transfer">TRANSFERENCIAS</a></li>
        </ul>
      </nav>
    </header>
    <main class="grow lg:mt-4">
      <div class="flex flex-wrap justify-center items-center gap-4 my-4">
        <template v-if="client.length != 0" v-for="account of accounts">
          <div class="flex flex-col justify-center items-center bg-bluebell rounded-lg text-white font-bold px-4 gap-4 lg:gap-8 py-4">
            <h3> Numero de cuenta: {{account.number}}</h3>
            <div class="flex flex-col w-full px-4">
              <h3>Monto:</h3>
              <h3 class="self-center text-xl">{{formatBudget(account.balance)}}</h3>
            </div>
            <h3>Fecha de creacion: {{account.creationDate}}</h3>
          </div>
        </template>
      </div>
    </main>
    <footer v-if="!isWideScreen" class="h-36 flex justify-center items-center sticky bottom-0 w-full bg-white rounded-t-lg z-index-10 box-shadow">
      <nav class="flex justify-center items-center w-full">
        <ul class="flex justify-around items-center w-full py-1">
          <li class="w-1/5"><a class="w-full flex justify-center items-center" href="#"><img class="w-10" src="./assets/img/user_active.png" alt="active_account"></a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex justify-center items-center" href="#"><img class="w-10" src="./assets/img/cards.png" alt="cards"></a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex justify-center items-center" href="#"><img class="w-16 rounded-full" src="./assets/img/profile.png" alt="bank_logo"></a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex justify-center items-center" href="#"><img class="w-10" src="./assets/img/loan.png" alt="loan"></a></li>
          <li class="w-1/5"><a @click="abrirAlert()" class="w-full flex justify-center items-center" href="#"><img class="w-10" src="./assets/img/transfer.png" alt="transfer"></a></li>
        </ul>
      </nav>
    </footer>
    <footer v-if="isWideScreen" class="flex bg-darkblue font-bold text-white justify-evenly items-center">
      <small>Cohort52</small>
      <small>&copy; 2023 Federico Val. Todos los derechos reservados.</small>
    </footer>
    <div v-if="modalVisibleAlert" class="bg-gray-400/40 fixed top-0 left-0 w-full h-full flex items-center justify-center z-40">
      <section class="bg-white text-black w-2/3 md:w-1/3 h-1/3 rounded-2xl p-2 flex flex-col relative">
        <div class="h-full">
          <button class="" @click="cerrarAlert">
            <img src="https://png.pngtree.com/png-vector/20190603/ourmid/pngtree-icon-close-button-png-image_1357822.jpg"
              class="w-12 h-12  cursor-pointer absolute top-2 right-2 z-20" alt="">
          </button>
          <div class="flex flex-col h-full text-center justify-center items-center absolute top-0 inset-0">
            <p>EN DESARROLLO</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/js/tailwind.config.js"></script>
  <script src="./assets/js/account.js"></script>
</body>
</html>