<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./assets/img/profile.png" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Opybank | Account Activity</title>
</head>

<body>
  <div id="app" class="h-[100vh] flex flex-col">
    <header class="h-26 bg-black lg:flex lg:justify-center lg:items-center lg:flex-col">
      <div class="h-full w-full p-2 flex justify-evenly md:justify-center items-center gap-2">
        <div class="h-full w-full flex items-center justify-around gap-2">
          <picture class="h-full grow object-cover flex items-center justify-end cursor-pointer" @click="abrirAlert()">
            <img class="w-16 object-cover rounded-full" src="./assets/img/melba.jpg" alt="profile,foto" />
          </picture>
          <h1 class="grow text-white font-bold">
            Welcome, {{client.lastName}} {{client.firstName}}
          </h1>
        </div>
        <picture class="grow h-full object-cover flex items-center justify-center md:self-right cursor-pointer"
          @click="abrirAlert()">
          <img class="w-10 object-cover rounded-full bg-black" src="./assets/img/check-out.png" alt="check_out" />
        </picture>
      </div>
      <nav v-if="isWideScreen" class="flex justify-center items-center w-full h-full bg-white pt-2">
        <ul class="flex justify-around items-center w-11/12 py-1">
          <li class="w-1/5 ">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105" href="./accounts.html"><img
                class="w-10" src="./assets/img/user.png" alt="active_account" />ACCOUNTS</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105" href="#"><img class="w-10"
                src="./assets/img/cards.png" alt="cards" />CARDS</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105" href="#"><img
                class="w-16 rounded-full" src="./assets/img/profile.png" alt="bank_logo" /></a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105" href="#"><img class="w-10"
                src="./assets/img/loan.png" alt="loan" />LOANS</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105" href="#"><img class="w-10"
                src="./assets/img/transfer.png" alt="transfer" />TRANSFERS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="flex flex-col grow lg:mt-4 justify-center items-center">
      <div class="flex flex-wrap justify-center items-center gap-4 my-4">
          <div
            class="flex flex-col justify-center items-center bg-gloomypurple rounded-lg text-white font-bold px-2 gap-2 lg:gap-4 py-2">
            <h3>Account Number: {{account.number}}</h3>
            <div class="flex flex-col w-full px-2">
              <h3>Balance:</h3>
              <h3 class="self-center text-xl">
                {{formatBudget(account.balance)}}
              </h3>
            </div>
            <div class="flex flex-wrap gap-1 px-2">
              <h3>Creation Date:</h3>
              <h3>{{formatDate(account)}}</h3>
            </div>
          </div>
      </div>
      <div class="w-full flex justify-center items-center">
        <div v-if="transaction.length != 0" class="w-full">
          <table class="bg-black px-2 w-full text-center m-auto md:w-2/3 rounded-lg">
            <caption class="w-full text-center mb-2 font-bold text-xl border-b">TRANSACCTIONS</caption>
            <thead>
              <tr class="text-white">
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="transaction.length != 0" v-for="(data,index) in transaction">
                <tr :class="index % 2 === 0 ? 'bg-gray-600 text-center items-middle border-t border-b text-white' 
                                            : 'bg-gray-800 text-center items-middle border-t border-b text-white'">
                  <td :class="data.type ==='CREDIT' ? 'text-green-600 font-bold' : 'text-red-800 font-bold'">
                    {{data.type}}</td>
                  <td>{{formatBudget(data.amount)}}</td>
                  <td>{{formatDateTime(data)}}</td>
                  <td>{{data.description}}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <template v-else>
          <div>
            <h3>NO TRANSFERS REGISTERED</h3>
          </div>
        </template>
      </div>
    </main>
    <footer v-if="!isWideScreen"
      class="h-26 flex justify-center items-center sticky bottom-0 w-full bg-white rounded-t-lg z-index-10 box-shadow">
      <nav class="flex justify-center items-center w-full">
        <ul class="flex flex justify-around items-center w-full py-1">
          <li class="w-1/5">
            <a class="w-full flex flex-col justify-center items-center" href="./accounts.html"><img class="w-10"
                src="./assets/img/user.png" alt="account" />ACCOUNTS</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center scale-105" href="#"><img class="w-10"
                src="./assets/img/cards.png" alt="cards" />CARDS</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex justify-center items-center" href="#"><img class="w-16 rounded-full"
                src="./assets/img/profile.png" alt="bank_logo" /></a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center" href="#"><img class="w-10" src="./assets/img/loan.png"
                alt="loan" />LOANS</a>
          </li>
          <li class="w-1/5 flex" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center" href="#"><img class="w-10"
                src="./assets/img/transfer.png" alt="transfer" />TRANSFERS</a>
          </li>
        </ul>
      </nav>
    </footer>
    <footer v-if="isWideScreen" class="flex bg-black font-bold text-white justify-evenly items-center">
      <small>Cohort52</small>
      <small>&copy; 2023 Federico Val. All rights reserved</small>
    </footer>
    <div v-if="modalVisibleAlert"
      class="bg-gray-400/40 fixed top-0 left-0 w-full h-full flex items-center justify-center z-40">
      <section class="bg-white text-black w-[320px] h-[440px] rounded-2xl p-2 flex flex-col relative">
        <div class="h-full">
          <button class="" @click="cerrarAlert">
            <img
              src="https://png.pngtree.com/png-vector/20190603/ourmid/pngtree-icon-close-button-png-image_1357822.jpg"
              class="w-12 h-12  cursor-pointer absolute top-2 right-2 z-20" alt="">
          </button>
          <div class="flex flex-col h-full text-center justify-center items-center absolute top-0 inset-0">
            <picture class="h-full w-full flex justify-center items-center object-contain">
              <img class="w-[280px] h-[280px] object-contain" src="./assets/img/work-in-progress.png" alt="work_in_progress">
            </picture>
          </div>
        </div>
      </section>
    </div>
  </div> <!-- finaliza el vue  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./assets/js/tailwind.config.js"></script>
  <script src="./assets/js/account.js"></script>
</body>
</html>