<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preload" as="image" href="./assets/img/backgrounds/BACKGROUND-3.webp">
  <link rel="preload" as="image" href="./assets/img/10015419.webp">
  <link rel="preload" as="image" href="./assets/img/user_active.webp">
  <link rel="preload" as="image" href="./assets/img/cards.webp">
  <link rel="preload" as="image" href="./assets/img/loan.webp">
  <link rel="preload" as="image" href="./assets/img/transfer.webp">
  <link rel="shortcut icon" href="./assets/img/profile.webp" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="./assets/css/style.css">
  <title>OPYTHA BANK | Apply for Loans</title>
</head>

<body>
  <div id="app" class="h-[100dvh] flex flex-col">
    <header class="h-26 bg-black lg:flex lg:justify-center lg:items-center lg:flex-col">
      <!-- BLACK HEADER NAME AND PROFILE -->
      <div class="h-full w-full p-2 flex justify-evenly md:justify-center items-center gap-2">
        <div class="h-full w-full flex items-center justify-around gap-2">
          <picture class="h-full grow object-cover flex items-center justify-end">
            <img class="w-16 object-cover rounded-full cursor-pointer" @click="abrirAlert()"
              src="./assets/img/10015419.webp" alt="profile_foto" />
          </picture>
          <!-- WELCOME -->
          <h1 class="grow text-white font-bold">
            Welcome, {{client.lastName}} {{client.firstName}}
          </h1>
        </div>
        <!-- LOG OUT BUTTON -->
        <article
          class="w-20 h-full rounded-full object-cover flex items-center justify-center md:self-right cursor-pointer bg-red-500 border border-red-600"
          @click="logout()">
          <h3 class="w-full text-center text-white text-sm font-bold">Log out</h3>
        </article>
      </div>
      <!-- NAV BAR LAPTOP/DESKTOP -->
      <nav v-if="isWideScreen" class="flex justify-center items-center w-full h-full bg-white pt-2">
        <ul class="flex justify-around items-center w-11/12 py-1">
          <li class="w-1/5 ">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105" href="./accounts.html"><img class="w-10"
                src="./assets/img/user.webp" alt="active_account" />ACCOUNTS</a>
          </li>
          <li class="w-1/5">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105" href="./cards.html"><img
                class="w-10" src="./assets/img/cards.webp" alt="cards" />CARDS</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center hover:scale-105 text-logopurple font-bold"
              href="./accounts.html"><img class="w-16 rounded-full" src="./assets/img/profile.webp"
                alt="bank_logo" />OPYTHA BANK</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center scale-105 font-bold text-darkblue" href="#"><img class="w-10"
                src="./assets/img/loan_active.webp" alt="loan" />LOANS</a>
          </li>
          <li class="w-1/5">
            <a class="w-full flex flex-col justify-center items-center  hover:scale-105" href="./transfers.html"><img
                class="w-10" src="./assets/img/transfer.webp" alt="transfer" />TRANSACTIONS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="grow bg-[url('./assets/img/backgrounds/BACKGROUND-3.webp')] bg-cover bg-norepeat">
      <!-- LOAN SIGN UP -->
      <div class="w-full h-full flex items-center justify-center">
        <section
          class="text-black w-[300px] p-2  flex flex-col justify-around gap-8 items-center bg-white/70 rounded-2xl">
          <div class="h-full">
            <div class="flex flex-col md:flex-row-reverse h-full text-center justify-center items-center gap-4">
              <form @submit.prevent="createLoan()" class="flex flex-col gap-4 z-50">
                <!-- CHOOSE LOAN -->
                <div>
                  <label class="font-bold"> Choose Loan:
                    <select required class="text-center rounded-lg" v-model="selectedLoan" @change="searchPayments()">
                      <option disabled value="0">Select Loan</option>
                      <template v-if="loans.length != 0" v-for="loan of loans">
                        <option :value="loan.id">{{loan.name}}</option>
                      </template>
                    </select>
                  </label>
                </div>
                <!-- CHOOSE ACCOUNT -->
                <div>
                  <label class="font-bold">Choose Account:
                    <select required class="text-center rounded-lg" v-model="selectedAccount">
                      <option disabled value="0">Select Account</option>
                      <template v-if="accounts.length != 0" v-for="account of accounts">
                        <option>{{account.number}}</option>
                      </template>
                    </select>
                  </label>
                </div>
                <!-- ENTER AMOUNT -->
                <div class="flex flex-col">
                  <label class="font-bold"> Enter Amount:
                    <input required class="text-center rounded-lg" type="text" v-model="amount">
                  </label>
                  <label v-show="selectedLoan != 0">
                    <small>Max amount:{{formatBudget(loanAmount)}}</small>
                  </label>
                </div>
                <!-- CHOOSE PAYMENTS -->
                <div v-show="selectedLoan != 0">
                  <label class="font-bold">Choose payments:
                    <select required class="text-center rounded-lg px-2" v-model="selectedPayments">
                      <option disabled value="0">Select payments</option>
                      <template v-if="payments.length != 0" v-for="payment of payments">
                        <option>{{payment}}</option>
                      </template>
                    </select>
                  </label>
                </div>
                <button type="submit" class="bg-green-400 py-2 px-4 rounded-full font-bold text-xl"> SIGN UP FOR LOAN
                </button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- NAV BAR MOBILE/TABLET -->
    <footer v-if="!isWideScreen"
      class="h-26 flex justify-center items-center sticky bottom-0 w-full bg-white rounded-t-lg z-index-10 box-shadow">
      <nav class="flex flex-col justify-center items-center w-full">
        <div class="flex  text-logopurple font-bold justify-center items-center">
          <h3>OPYTHA BANK</h3>
        </div>
        <ul class="flex flex justify-around items-center w-full py-1 px-2">
          <li class="w-1/5">
            <a class="w-full flex flex-col justify-center items-center text-xs" href="./accounts.html"><img class="w-10"
                src="./assets/img/user.webp" alt="account" />Account</a>
          </li>
          <li class="w-1/5">
            <a class="w-full flex flex-col justify-center items-center text-xs" href="./cards.html"><img class="w-10"
                src="./assets/img/cards.webp" alt="cards" />Cards</a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center text-xs font-bold text-gloomypurple"
              href="./accounts.html"><img class="w-16 rounded-full" src="./assets/img/profile.webp"
                alt="bank_logo" /></a>
          </li>
          <li class="w-1/5" @click="abrirAlert()">
            <a class="w-full flex flex-col justify-center items-center text-xs font-bold text-darkblue" href="#"><img class="w-10"
                src="./assets/img/loan_active.webp" alt="loan" />Loans</a>
          </li>
          <li class="w-1/5 flex">
            <a class="w-full flex flex-col justify-center items-center text-xs" href="./transfers.html"><img
                class="w-10" src="./assets/img/transfer.webp" alt="transfer" />Transactions</a>
          </li>
        </ul>
      </nav>
    </footer>
    <!-- FOOTER LAPTOP/DESKTOP -->
    <footer v-if="isWideScreen" class="flex bg-black font-bold text-white justify-around items-center">
      <small>Cohort52</small>
      <small>&copy; 2023 Federico Val. All rights reserved.</small>
      <div class="text-center flex flex-col gap-2 mb-2">
        <small class="text-lg">Follow our social media:</small>
        <div class="flex gap-10 justify-center items-center">
          <picture>
            <img class="w-10 facebook" src="./assets/img/Facebook_icon.webp" alt="facebook_logo" @click="socialmedia">
          </picture>
          <picture>
            <img class="w-10 github" src="./assets/img/Github_icon.webp" alt="github_logo" @click="socialmedia">
          </picture>
          <picture>
            <img class="w-10 linkedin" src="./assets/img/Linkedin_icon.webp" alt="linkedin_logo" @click="socialmedia">
          </picture>
          <picture>
            <img class="w-10 instagram" src="./assets/img/Instragram_icon.webp" alt="instagram_logo"
              @click="socialmedia">
          </picture>
        </div>
      </div>
    </footer>
    <!-- MODAL WIP -->
    <div v-if="modalVisibleAlert"
      class="bg-gray-400/40 fixed top-0 left-0 w-full h-full flex items-center justify-center z-40">
      <section class="bg-white text-black w-[320px] h-[440px] rounded-2xl p-2 flex flex-col relative">
        <div class="h-full">
          <button class="" @click="cerrarAlert">
            <img src="./assets/img/hambClose.webp"
              class="w-12 h-12  cursor-pointer absolute top-2 right-2 z-20 rounded-full bg-black p-2" alt="">
          </button>
          <div class="flex flex-col h-full text-center justify-center items-center absolute top-0 inset-0">
            <picture class="h-full w-full flex justify-center items-center object-contain">
              <img class="w-[280px] h-[280px] object-contain" src="./assets/img/work-in-progress.webp"
                alt="work_in_progress">
            </picture>
          </div>
        </div>
      </section>
    </div>
    <!-- MODAL LOAN CREATED -->
    <div v-if="successCard"
      class="bg-gray-400/40 fixed top-0 left-0 w-full h-full flex items-center justify-center z-50">
      <section class="bg-white text-black w-[320px] h-[440px] rounded-2xl p-2 flex flex-col relative">
        <div class="h-full">
          <button class="z-50" @click="cerrarSuccess">
            <img src="./assets/img/hambClose.webp"
              class="w-12 h-12  cursor-pointer absolute top-2 right-2 z-20 rounded-full bg-black p-2" alt="">
          </button>
          <div class="flex flex-col h-full text-center justify-center items-center absolute top-0 inset-0">
            <picture class="h-full w-full flex-col flex justify-center items-center object-contain">
              <img class="w-[280px] h-[280px] object-contain" src="./assets/img/success.webp" alt="work_in_progress">
              <h3 class="text-2xl text-green-600">SUCCESSFULLY APPLIED FOR LOAN</h3>
              <h3>Please, close this window to proceed</h3>
            </picture>
          </div>
        </div>
      </section>
    </div>
    <!-- MODAL ERROR -->
    <div v-if="failureCard"
      class="bg-gray-400/40 fixed top-0 left-0 w-full h-full flex items-center justify-center z-50">
      <section class="bg-white text-black w-[320px] h-[440px] rounded-2xl p-2 flex flex-col relative">
        <div class="h-full flex flex-col">
          <button class="z-50" @click="cerrarFailure">
            <img src="./assets/img/hambClose.webp"
              class="w-12 h-12  cursor-pointer absolute top-2 right-2 z-20 rounded-full bg-black p-2" alt="">
          </button>
          <div class="flex flex-col h-full text-center justify-center items-center absolute top-0 inset-0">
            <picture class="h-full w-full flex flex-col justify-center items-center object-contain">
              <img class="w-[280px] h-[280px] object-contain" src="./assets/img/reject.webp" alt="work_in_progress">
              <h3 class="text-2xl text-red-600">FAILED TO APPLIED</h3>
              <h3>{{errormsg}}</h3>
              <h3>Please, close this window to proceed</h3>
            </picture>
          </div>
        </div>
      </section>
    </div>
  </div> <!-- finaliza el vue  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./assets/js/tailwind.config.js"></script>
  <script src="./assets/js/loan-application.js"></script>
</body>

</html>